<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444301286071-gbcu9v1n3bhk8bvej5h5cggom344e7qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444301286071-gbcu9v1n3bhk8bvej5h5cggom344e7qc</string>
	<key>API_KEY</key>
	<string>AIzaSyAe20zpMvQxabY2ELNPo1Neby5Nl28MStg</string>
	<key>GCM_SENDER_ID</key>
	<string>444301286071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deusdeditvilar.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-57e91</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-57e91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444301286071:ios:7ef61043df857839ae0b32</string>
</dict>
</plist>